// I gather this file is a starting point for the project.
@import "bootstrap";

// Include responsive Bootstrap styles
@import "bootstrap-responsive";

#menuspacer {
  height: 40px;
  min-height: 40px;
}

#eh14 {
  background-color: #42b8fb;
  padding: 20px;
  height: 800px;
  position: relative;
}

#eh14 #logo {
  position:absolute;
  top:0;
  padding-top:20px;
  width:40%;
  right:10%;
}

#eh14 #silhouette {
  width:100%;
}
