---
title: Call for Papers
layout: page
tags: ['papers','page']
url: '/pages/cfp'
urls: ['/cfp']
pageOrder: 10
---

.well
	h3 Werte Mithacker,

	p.lead
		| leider mussten wir zum wiederholten Male feststellen, dass nicht alle Mithacker ihrem kEHrwochendienst Folge leisten.
		br
		| Darum fordern wir mit Nachdruck alle Mithacker auf, zur jährlichen kEHrwoche vom 18. bis 21. April 2014 in Stuttgart zu erscheinen.
		br
		| Datenrückstände sind in den dafür vorgesehenen Behältern zu sammeln. Wir bitten die Trennung in die Kategorien Vorträge, Workshops und Sonstiges strikt zu befolgen.
		br
		| Aufgrund der Menge erfolgt eine Sonderleerung am 01.04.2014.
		br
		| Mit freundlichen Grüßen,
		br
		| gez. die Hausverwaltung

.well
	p.lead Für alle, die solche Aushänge im Hausgang nicht kennen: Das Easterhegg 2014 (Codename kEHrwoche) sucht
		| Workshops, Vorträge und Lightningtalks!
		| Bitte reicht eure Talk- und Workshop-Vorschläge bis 01.04.2014 
		a(href='https://frab.cccv.de/en/EH2014/cfp/session/new') hier im FRAB
		|  ein. Ab Anfang März werden wir die ersten Talks fest vergeben.

	p.lead Unsicher, was Du einreichen sollst? Haben schon mehr Leute gefragt,
		| schau' mal in unsere 
		a(href='/pages/faq') FAQ
		|  'rein!
