---
title: Call for Papers
layout: page
tags: ['papers','page']
pageOrder: 10
---

.well
	h3 Werte Mithacker,
	
	p.lead
		| leider mussten wir zum wiederholten Male feststellen, dass nicht alle Mithacker ihrem kEHrwochendienst Folge leisten. 
		br
		| Darum fordern wir mit Nachdruck alle Mithacker auf, zur jährlichen kEHrwoche vom 18. bis 21. April 2014 in Stuttgart zu erscheinen. 
		br
		| Datenrückstände sind in den dafür vorgesehenen Behältern zu sammeln. Wir bitten die Trennung in die Kategorien Vorträge, Workshops und Sonstiges strikt zu befolgen. 
		br
		| Die Leerung der Behälter erfolgt letztmalig zum 01.02.2014.
		br
		| Mit freundlichen Grüßen,
		br
		| gez. die Hausverwaltung

p.lead(style='padding: 3em') Für alle, die solche Aushänge im Hausgang nicht kennen: Das Easterhegg 2014 (Codename kEHrwoche) sucht Vorträge! Bitte reicht eure Talk- und Workshop-Vorschläge bis 01.02.2014 
	a(href='https://frab.cccv.de/en/EH2014/cfp/session/new') hier im frab
	|  ein.