---
title: Das Easterhegg
layout: page
tags: ['papers','page']
pageOrder: 20
---

.well
	| ...ist eine jährliche Veranstaltung des Chaos Computer Clubs mit familiärer Atmosphäre für alle diejenigen, die sich dem Chaos Computer Club verbunden fühlen.
	|
	| Seit dem ersten Easterhegg im Jahre 2001 in Hamburg gastiert das Event in jedem zweitem Jahr auswärts und wird dann von dem Erfa-Kreis oder aktiven Chaostreff der jeweiligen Stadt ausgerichtet. 

:markdown
	Mehr Information zur Easterhegg Veranstaltungsreihe an sich gibt es auf [easterhegg.de](http://easterhegg.de/).
