---
title: Fahrplan
layout: page
tags: [page']
url: '/pages/fahrplan'
urls: ['/fahrplan']
pageOrder: 50
---

.well(style='text-align: center')
		a(href="https://frab.cccv.de/en/EH2014/public/schedule/", property="dc:title"): h1 Zum Fahrplan
		h4 ACHTUNG! Nur für Inhalte gedacht, kein fertiger Schedule!
