---
title: FAQ
layout: page
tags: ['papers','page']
pageOrder: 30
---

.well
	:markdown
		### Kann ich meinen Hund mit aufs Easterhegg bringen?

		Haustiere sind auf dem Easterhegg leider nicht gestattet. Ausgenommen sind natürlich „Arbeitstiere“ wie z.B. Blindenhunde.

		### Will the conference be held in English?

		In contrast to the annual CCC Congress, this is a much smaller event. We expect that most talk submissions will be in German. On the other hand, a lot of attendants will speak English, too, and since the Easterhegg is a more workshop-like event, you still might have a lot of fun here.

		### Ich bin (noch) kein CCC-Mitglied, kann ich trotzdem kommen?

		Ja! Alle Interessierten sind herzlich eingeladen.

		### Ich habe eine Frage, die Antwort ist aber (noch) nicht „frequently asked“.

		Schreib' bitte eine Mail an das Orga-Team (siehe [Kontaktseite](/pages/kontakt/)).
