---
title: FAQ
layout: page
tags: ['papers','page']
pageOrder: 30
---

.well
	:markdown
		### Will the conference be held in English?

		In contrast to the annual CCC Congress, this is a much smaller event. We expect that most talk submissions will be in German. On the other hand, a lot of attendants will speak English, too, and since the Easterhegg is a more workshop-like event, you still might have a lot of fun here.

		### Was soll ich einreichen? Welche Themen sind für das Easterhegg interessant?

		Die Themen lassen sich grob mit den kassischen CCC-Schlagworten
		„Technik, Kultur, Gesellschaft“ zusammenfassen - oder anders formuliert:
		Dinge, die Nerds wie Dich und mich bewegen, begeistern, interessieren.
		Ein paar Beispiele:

		Du hast ein Sicherheitsproblem (oder sogar eine ganze Gruppe von
		Problemen) entdeckt? Erzähl' was darüber! Du hast Dir Gedanken über die
		aktuelle Politik / die Gesellschaft / ... gemacht, wie mit der aktuellen
		Überwachung umzugehen ist - oder zusammengetragen, wie sich das in der
		Vergangenheit entwickelt hat? Mach' einen Vortrag! Du hast Dich mit
		einer ausgefallenen, aber coolen Technologie befaßt und möchtest die
		Begeisterung weitertragen? Halte einen Talk und/oder einen Workshop! Du
		hast eine witzige/praktische/... Bastelei (egal, ob Hardware oder
		Software), die andere nachmachen können? Biete es als Workshop an! Du
		willst Grundlagen über ein Thema, das Deiner Meinung nach wichtig ist,
		aber noch längst nicht genug Leute kennen, weitergeben (das kann vom
		Lötworkshop über die Kryptoparty bis zum FPGA-101 reichen)? Auch sowas
		gibt einen großartigen Workshop ab.

		### Wann schliesst die Location?

		Die Location ist während der Easterhegg durchgehend geöffnet.
		
		### Kann ich mir $essen (Pizza, etc) in die Location bestellen?
		
		Nein, bitte nicht. Das Kulturhaus Arena hat die Cateringhoheit.
		Von Seiten der Arena wird es ein Angebot an einfachen, warem Speisen geben.
		
		Darüber hinaus wird es selbstverständlich das Easterhegg-übliche all-inclusive Frühstück geben.
		
		Sollte euch dennoch der Drang nach Pizza überkommen, setzt euch am besten über die Straße in den shackspace. Den kennen die meisten Lieferanten schon in und auswendig :)

		### 15 Minuten für einen Lightning Talk ist zu lang (FRAB)

		Korrekt. Allerdings ist 15 Minuten die feinste eingestellte Granularität im FRAB.
		Bitte reiche deinen Lightning-Talk einfach ein und schreib im Kommentarfeld, wieviele Minuten du brauchst.
		Wir gehen grob von 5 bis 8 Minuten pro Talk aus.

		### Kann ich meinen Hund mit aufs Easterhegg bringen?

		Haustiere sind auf dem Easterhegg leider nicht gestattet. Ausgenommen sind natürlich „Arbeitstiere“ wie z.B. Blindenhunde.

		### Ich bin (noch) kein CCC-Mitglied, kann ich trotzdem kommen?

		Ja! Alle Interessierten sind herzlich eingeladen.

		### Wie kann ich mich anmelden?

		Sobald der Presale gestartet ist, findest du auf der [Tickets-Seite](/pages/tickets/) weitere Informationen.

		### Welche Hotels sind in der Nähe?

		Eine grobe Liste findest du im [shackspace Wiki](http://shackspace.de/wiki/doku.php?id=uebernachten).
		Alternativ benutze einen Service wie [booking.com](http://booking.com/).

		### Ich habe eine Frage, die Antwort ist aber (noch) nicht „frequently asked“.

		Schreib' bitte eine Mail an das Orga-Team (siehe [Kontaktseite](/pages/kontakt/)).
