---
title: Infos
layout: page
tags: ['papers','page']
pageOrder: 20
---
.row
	.col-md-8
		.well
			h3 Location: Kulturhaus Arena
			p
				:markdown
					Für das Easterhegg 2014 konnten wir das [Kulturhaus „Arena“](http://kh-a.de/) als Location gewinnen.<br/>

					Das „Arena“ liegt direkt gegenüber dem [shackspace](http://shackspace.de/) und ist über die [U-Bahnlinien](http://vvs.de/) U4 und U9 (Haltestelle „Im Degen“) gut von der Innenstadt und dem Hauptbahnhof aus erreichbar.<br/>

					Platz ist ausreichend für mehere hundert Hacker vorhanden.

			h3 Schlafen
			
			h4 Jugendherberge
			
			p
				:markdown
					Ein limitiertes Kontingent von insgesamt 100 Betten wurde eigens für das Easterhegg bei der [Jugendherberge Stuttgart](http://stuttgart.jugendherberge-bw.de/) reserviert.<br/>
					Details zum Buchungsvorgang und Konditionen folgen in Bälde.
			
			h4 Hotels
			
			p
				:markdown
					Eine grobe Liste an umliegenden Hotels findest du im [shackspace Wiki](http://shackspace.de/wiki/doku.php?id=uebernachten).
					Alternativ benutze einen Service wie [booking.com](http://booking.com/).

	.col-md-4
		.sponsoring
			h1 Sponsoren

			a(href="http://getdigital.de", target="_blank"): img(src='/images/get-digital-dark.svg', style="width: 100%")
			//- a(href="http://ubnt.com", target="_blank"): img(src='/images/ubnt.svg', style="width: 75%")

