---
title: Infos
layout: page
tags: ['papers','page']
pageOrder: 20
---

.well
	h3 Location: Kulturhaus Arena
	p
		:markdown
			Für das Easterhegg 2014 konnten wir das [Kulturhaus „Arena“](http://kh-a.de/) als Location gewinnen.<br/>

			Das „Arena“ liegt direkt gegenüber dem [shackspace](http://shackspace.de/) und ist über die [U-Bahnlinien](http://vvs.de/) U4 und U9 (Haltestelle „Im Degen“) gut von der Innenstadt und dem Hauptbahnhof aus erreichbar.<br/>

			Platz ist ausreichend für mehere hundert Hacker vorhanden.

	h3 Schlafen: Jugendherberge
	p
		:markdown
			Ein limitiertes Kontingent von insgesamt 100 Betten wurde eigens für das Easterhegg bei der [Jugendherberge Stuttgart](http://stuttgart.jugendherberge-bw.de/) reserviert.<br/>
			Details zum Buchungsvorgang und Konditionen folgen in Bälde.
