---
title: Infos
layout: page
tags: ['papers','page']
pageOrder: 20
---
.row
	.col-md-8
		.well
			:markdown
				### Location: Kulturhaus „Arena“
				Für das Easterhegg 2014 konnten wir das [Kulturhaus „Arena“](http://kh-a.de/)
				als Location gewinnen.
				
				<br/>

				Das „Arena“ liegt direkt gegenüber dem [shackspace](http://shackspace.de/)
				und ist über die [U-Bahnlinien](http://vvs.de/) U4 und U9 (Haltestelle „Im Degen“)
				gut von der Innenstadt und dem Hauptbahnhof aus erreichbar.
				
				<br/>

				Platz ist ausreichend für mehrere hundert Hacker vorhanden.
				
				### Anfahrt
				#### Mit der U-Bahn
				* Eventlocation & shackspace: Haltestelle "Im Degen" (U4, U9), Tarifone 20
				* Hauptbahnhof: Haltestelle "Hauptbahnhof (Arnulf-Klett-Platz)" (U9, U15, ...), Tarifzone 10
				* Jugendherberge: Haltestelle "Eugensplatz (Jugendherberge)" (U15, ...), Tarifzone 10
				
			:markdown
				Interessantes und Nützliches:
				
				* Von Hauptbahnhof oder Jugendherberge zur Eventlocation benötigt ihr zwei Tarifzonen ("002" am Automaten)
				* Zwischen Hauptbahnhof und Jugendherberge benötigt ihr eine Tarifzone ("001" am Automaten)
				* [4-er Ticket](http://www.vvs.de/tickets/einzelnefahrtentagestickets/4er-ticket-2014/) ist günstiger
				* [Handyticket](http://www.vvs.de/handyticket/) ist möglicher Weise auch günstiger
				* Informationen zu VVS [Tickets](http://www.vvs.de/tickets/)
				* [Liniennetzpläne](http://www.vvs.de/karten-plaene/liniennetz) des VVS
				* VVS Mobil App für [Android](https://play.google.com/store/apps/details?id=com.fluidtime.vvs) und [iDevices](https://itunes.apple.com/us/app/vvs-mobil/id408372353?mt=8)
				
			:markdown
				#### Mit dem Auto
				Ulmer Straße 241<br/>
				70327 Stuttgart
				
				Achtung! Parken vor Ort ist nur sehr begrenzt möglich.
				
				### Schlafen
				
				#### Jugendherberge
				Ein limitiertes Kontingent von insgesamt 100 Betten wurde eigens für das Easterhegg bei der [Jugendherberge Stuttgart](http://stuttgart.jugendherberge-bw.de/) reserviert.<br/>
				Details zum Buchungsvorgang und Konditionen folgen in Bälde.
				
				Siehe auch: [Anfahrtsbeschreibung der Jugendherberge](http://stuttgart.jugendherberge-bw.de/Anreise).
				
				#### Hotels
				Eine grobe Liste an umliegenden Hotels findest du im [shackspace Wiki](http://shackspace.de/wiki/doku.php?id=uebernachten).
				Alternativ benutze einen Service wie [booking.com](http://booking.com/).

	.col-md-4
		.sponsoring
			h1 Sponsoren

			a(href="http://getdigital.de", target="_blank"): img(src='/images/get-digital-dark.svg', style="width: 100%")
			//- a(href="http://ubnt.com", target="_blank"): img(src='/images/ubnt.svg', style="width: 75%")

