---
title: Kontakt
layout: page
tags: ['papers','page']
pageOrder: 40
---

.well
	h3 Genereller Kontakt
	p
		Für Fragen an die Orga.
		
	:markdown
		email: [eh2014-orga@cccs.de](mailto:eh2014-orga@cccs.de)

	h3 Öffentliche Mailingliste
	p
		Für generelle Diskussionen. Offen für alle Besucher und Interessierten.
		
	:markdown
		[eh2014@lists.shackspace.de Anmeldeformular](https://lists.shackspace.de/mailman/listinfo/eh2014)
