---
title: Tickets
layout: page
tags: ['papers','page']
pageOrder: 11
---

.well
	p: b
		| Der Presale ist gestartet! Dein Ticket und Merchandise bekommst du 
		a(href="https://presale.eh14.easterhegg.eu") hier!
		br
		| Achtung: Aktuell können einmal platzierte Bestellungen nicht nachträglich modifizert werden.
		| Bei Problemen bitte an 
		a(href="mailto:eh2014-orga@cccs.de") eh2014-orga@cccs.de 
		| wenden.
	
	h3 Tickets
	p
		| Das Standard-Ticket kostet 42&nbsp;€ und beinhaltet den Eintritt, eine Tasse, und eine Frühstücksflatrate.  
		br
		| Wenn du uns unterstützen willst, kannst du dies mit weiteren 23, 42, und 23 + 42&nbsp;€ tun. 
	
	h3 T-Shirts & Zipper-Hoodies
	p
		| Die T-Shirts kommen in schwarz mit dem Eventname/Ort/Datum vorn links, Logo groß auf der Rückseite und kosten 23&nbsp;€.
		br
		| Zipper-Hoodies haben das Logo groß auf dem Rücken, und kosten 42&nbsp;€.
		br
		| Achtung: Zipper-Hoodies sind ausschließlich im Presale erhältlich.
		br
		| T-Shirts werden wir zusätzlich zum Presale eine geringe Stückzahl vor Ort haben. Es ist also auch hier besser, ihr bestellt im Voraus :-)
	
	h3 Tassen  
	p
		| Eine Tasse ist im Standard-Ticket enthalten, weitere können für 5&nbsp;€ erworben werden.
	
