---
title: Tickets
layout: page
tags: ['papers','page']
pageOrder: 11
---

.well
	p: b
		| Der Presale ist gestartet! Dein Ticket und Merchandise bekommst du 
		a(href="https://presale.eh14.easterhegg.eu") hier!  
	
	h3 Tickets
	p
		| Das Standard-Ticket kostet 42&nbsp;€ und beinhaltet den Eintritt, eine Tasse, und eine Frühstücksflatrate.  
		br
		| Wenn du uns unterstützen willst, kannst du dies mit weiteren 23, 42, und 23 + 42&nbsp;€ tun. 
	
	h3 T-Shirts & Zipper-Hoodies
	p
		| Die T-Shirts kommen in schwarz mit dem Logo links auf der Brust und kosten 23&nbsp;€.
		br
		| Zipper-Hoodies haben das Logo auf dem Rücken, und kosten 42&nbsp;€.
		br
		| Achtung: Zipper-Hoodies sind ausschließlich im Presale erhältlich.
	
	h3 Tassen  
	p
		| Eine Tasse ist im Standard-Ticket enthalten, weitere können für 5&nbsp;€ erworben werden.
	
