---
title: Tickets
layout: page
tags: ['papers','page']
pageOrder: 11
---

.well
	Der Presale ist gestartet, bestellen kannst du 
	a(href="https://presale.eh14.easterhegg.eu") hier!  
	
	h3 Tickets  
	Das Standard-Ticket kostet 42&euro; und beinhaltet den Eintritt, eine Tasse, und eine Fr&uuml;hst&uuml;cksflatrate.  
	Wenn du uns unterst&uuml;tzen willst, kannst du dies mit weiteren 23, 42, und 23 + 42&euro; tun. 
	
	h3 T-Shirts  
	
	Die shirts kommen in schwarz mit dem Logo links auf der Brust und kosten 23&euml.  
	Die zipper haben das Logo auf dem R&uuml;cken, und kosten 42&euml;.  
	
	h3 Tassen  
	
	Eine Tasse ist im Standard-Ticket enthalten, weitere k&ouml;nnen f&uuml;r 5&euml; erworben werden.
	
