---
title: Tickets
layout: page
tags: ['papers','page']
pageOrder: 11
---

.well
	p: b
		| Der Presale ist beendet.
		br
		a(href="https://presale.eh14.easterhegg.eu/") Ticket Download.

	h3 Tickets
	p
		| Samstag, Sonntag und Montag sind Tagestickets zum Preis von je 15 € an der Abendkasse erhältlich.
		br
		| Reguläres Ticket für alle Tage kostet an der Abendkasse 42 €.
		
	h3 T-Shirts
	p
		| T-Shirts sind in beschränktem Umfang vor Ort erhältlich.
		
	h3 Tassen  
	p
		| Eine Tasse ist im Standard-Ticket (auch Abendkasse) enthalten.
		| Extra-Tassen gibt es nicht mehr.
		
	h3 Zipper-Hoodies
	p
		| Zipper-Hoodies waren nur über den Presale verfügbar.
		| Der Presale von Zipper-Hoodies ist beendet.
		
	h3 Bahn-Eventticket
	p
		| Auch zur Easterhegg gibt es dieses Jahr das mittlerweile traditionelle Eventticket der Bahn.
		br
		| Details zur Buchung findet ihr im  
		a(href="https://wiki.eh14.easterhegg.eu/bahntickets") Wiki auf der Bahntickets-Seite
		| .
	
