---
title: Tickets
layout: page
tags: ['papers','page']
pageOrder: 11
---

.well
	p: b
		| Der Presale endet Mittwoch, den 6. April 2014.
		br
		| Dein Ticket und Merchandise bekommst du 
		a(href="https://presale.eh14.easterhegg.eu") hier!
		br
		| Achtung: Aktuell können einmal platzierte Bestellungen nicht nachträglich modifizert werden.
		| Bei Problemen bitte an 
		a(href="mailto:eh2014-orga@cccs.de") eh2014-orga@cccs.de 
		| wenden.
	
	h3 Tickets
	p
		| Das Standard-Ticket kostet 42&nbsp;€ und beinhaltet den Eintritt, eine Tasse, und eine Frühstücksflatrate.  
		br
		| Wenn du uns unterstützen willst, kannst du dies mit weiteren 23, 42, und 23 + 42&nbsp;€ tun. 
		br
		| Falls es euch möglich ist, wählt bitte ein Sponsoringticket, da es uns etwas mehr Spielraum gibt mit dem sehr knapp kalkulierten Event am Ende kostenneutral abzuschließen.
		br
		| Falls du dir das Ticket allerdings auf keinen Fall leisten kannst, melde dich bitte kurz bei der Orga, wir finden einen Weg.
		br
		| Tickets werden auch an der Abendkasse verfügbar sein (solange der Vorrat reicht).
	
	h3 T-Shirts
	p
		| Die T-Shirts kommen in schwarz mit dem Eventname/Ort/Datum vorn links, Logo groß auf der Rückseite und kosten 23&nbsp;€.
		br
		| T-Shirts werden auch vor Ort, allerdings in geringen Stückzahlen verfügbar sein. Greift über den Presale zu, solange es noch geht (Deadline 6. April)

	h3 Tassen  
	p
		| Eine Tasse ist im Standard-Ticket (auch Abendkasse) enthalten.
		| Extra-Tassen gibt es nicht mehr.
		
	h3 Zipper-Hoodies
	p
		| Zipper-Hoodies waren nur über den Presale verfügbar.
		| Der Presale von Zipper-Hoodies ist beendet.
		
	h3 Bahn-Eventticket
	p
		| Auch zur Easterhegg gibt es dieses Jahr das mittlerweile traditionelle Eventticket der Bahn.
		br
		| Details zur Buchung findet ihr im  
		a(href="https://wiki.eh14.easterhegg.eu/bahntickets") Wiki auf der Bahntickets-Seite
		| .
	
