---
title: Tickets
layout: page
tags: ['papers','page']
pageOrder: 11
---

.well
	p
		| Der Presale ist gestartet! Dein Ticket und Merchandise bekommst du 
		a(href="https://presale.eh14.easterhegg.eu") hier!  
	
	h3 Tickets
	p
		| Das Standard-Ticket kostet 42 &euro; und beinhaltet den Eintritt, eine Tasse, und eine Fr&uuml;hst&uuml;cksflatrate.  
		br
		| Wenn du uns unterst&uuml;tzen willst, kannst du dies mit weiteren 23, 42, und 23 + 42 &euro; tun. 
	
	h3 T-Shirts &amp; Zipper-Hoodies
	p
		| Die T-Shirts kommen in schwarz mit dem Logo links auf der Brust und kosten 23 &euro;.
		br
		| Zipper-Hoodies haben das Logo auf dem R&uuml;cken, und kosten 42 &euro;.
		br
		| Achtung: Zipper-Hoodies sind ausschließlich im Presale erhältlich.
	
	h3 Tassen  
	p
		| Eine Tasse ist im Standard-Ticket enthalten, weitere k&ouml;nnen f&uuml;r 5 &euro; erworben werden.
	
