.cell-height1 { height: 40px; }
.cell-height2 { height: 77px; }
.cell-height3 { height: 117px; }
.cell-height4 { height: 157px; }
.cell-height5 { height: 197px; }
.cell-height6 { height: 237px; }
.cell-height7 { height: 277px; }
.cell-height8 { height: 317px; }
.cell-height9 { height: 357px; }
.cell-height10 { height: 397px; }
.cell-height11 { height: 437px; }
.cell-height12 { height: 477px; }


.event.track-default {
  background-color: #adffb2;
  border-color: #adffb2;
}

.event.track-default div.event-header {
  background-color: #adffb2;
}

.event.track-default div.event-header a {
  color: #000;
}

.conference-background {
  background-color: #adffb2;
}


.event.track-sonstiges {
  background-color: #adffb2;
  border-color: #adffb2;
}
.event.track-sonstiges div.event-header {
  background-color: #adffb2;
}
.event.track-sonstiges div.event-header a {
  color: #000;
}

.event.track-talk {
  background-color: #adffb2;
  border-color: #adffb2;
}
.event.track-talk div.event-header {
  background-color: #adffb2;
}
.event.track-talk div.event-header a {
  color: #000;
}

.event.track-workshop {
  background-color: #adffb2;
  border-color: #adffb2;
}
.event.track-workshop div.event-header {
  background-color: #adffb2;
}
.event.track-workshop div.event-header a {
  color: #000;
}

/* Colorkeys for Tracks */


#colorkeys .track-sonstiges {
  background-color: #adffb2;
}

#colorkeys .track-talk {
  background-color: #adffb2;
}

#colorkeys .track-workshop {
  background-color: #adffb2;
}

#colorkeys {
  font-size: .8em;
  opacity: .85;
}

#colorkeys ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#colorkeys ul li {
  margin: 0 .2em;
  float: right;
}

#colorkeys ul li div {
  padding: 0;
}

/* Custom Conference CSS */

