---
title: Impressum
layout: page
tags: ['papers','page']
pageOrder: 40
---

p Verantwortlich für den Inhalt dieser Seite nach §6Abs.2 MDStV ist die BobbyTables Veranstaltungs UG vertreten durch ihren Geschäftsführer Hanno Wagner.

h3 Postanschrift:
p
	| BobbyTables Veranstaltungs UG
	br
	| Neckarstraße 168
	br
	| 70190 Stuttgart

h3 E-Mail
p
	:markdown
		[eh2014-orga@cccs.de](mailto:eh2014-orga@cccs.de)
