--- yaml
layout: 'default'
title: 'Home'
---

// Main hero unit for a primary marketing message or call to action.
.jumbotron
	img(src='/images/logo-outline.svg')
	h2 18.04. bis zum 21.04.2014 in Stuttgart
	h2 Kulturhaus Arena Stuttgart-Wangen
	h3 Ulmer Straße 241
	h3 48.777764,9.235627
	h3 eh2014-orga@cccs.de
	.clearfix
